@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.brand {
  display: flex;
  img {
    width: 80px;
  }
  .brand-title {
    @include phone {
      display: none;
    }
    margin-left: 80px;
    color: $colour-light-text;
  }
}
