@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

section .section-content {
  @include desktop {
    width: 70vw;
    margin-left: 40px;
    margin-right: 40px;
  }

  @include tablet {
    width: 70vw;
    margin-left: 40px;
    margin-right: 40px;
  }

  @include phone {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
