@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav-menu {
  @include desktop {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: $size-sidenav-with-desktop;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
      margin: 40px;
      list-style: none;
      li {
        margin-bottom: 8px;
      }
    }

    footer {
      margin: 40px;
      display: flex;
      flex-direction: column;
      line-height: 0.9rem;

      div.social-links-wrapper {
        display: flex;
        a {
          margin: 0px;
          svg {
            fill: $colour-light-text;
          }

          img {
            width: 20px;
            margin-right: 8px;
          }
        }
        margin-bottom: 10px;
      }

      a {
        font-size: 0.7rem;
        text-decoration: underline;
        margin-bottom: 10px;
      }

      small {
        font-size: 0.7rem;
        color: $colour-light-text;
        margin-bottom: 10px;
      }
    }
  }

  @include iphonex {
    display: none !important;
  }

  @include tablet {
    display: none !important;
  }

  @include phone {
    display: none !important;
  }
}

.nav-menu-open {
  visibility: visible;
  transition: all ease-in-out 1s;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  background-color: $colour-white;

  ul {
    @include tablet {
      margin: 130px 40px;
    }

    @include iphonex {
      margin: 80px 20px;
    }

    @include phone {
      margin: 130px 20px;
    }

    list-style: none;
    li {
      font-size: $size-large-font;
      margin-bottom: 3px;
    }
  }

  footer {
    @include tablet {
      margin: 40px;
    }

    @include iphonex {
      margin: 20px;
    }

    @include phone {
      margin: 20px;
    }

    display: flex;
    flex-direction: column;
    line-height: 0.9rem;

    div.social-links-wrapper {
      display: flex;
      a {
        margin: 0px;
        svg {
          fill: $colour-light-text;
        }

        img {
          width: 20px;
          margin-right: 8px;
        }
      }
      margin-bottom: 5px;
    }

    a {
      font-size: 0.7rem;
      text-decoration: underline;
      margin-bottom: 10px;
    }

    small {
      font-size: 0.7rem;
      color: $colour-light-text;
      margin-bottom: 10px;
    }
  }
}
