@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.nav-menu {
  transition: opacity 0.5s linear;
  top: 0;
  right: 0;
  opacity: 0 !important;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @include desktop {
    opacity: 1 !important;
    transition: opacity 0.5s linear;
    width: $size-sidenav-with-desktop;
    ul {
      margin: 20px 40px;
      list-style: none;
      li {
        margin-bottom: 8px;
      }
    }
  }

  @include tablet {
    background-color: $colour-white;
    opacity: 0;
    width: 100vw;
    z-index: 500;
    ul {
      margin: 130px 40px;
      list-style: none;
      li {
        font-size: 2.5rem;
        margin-bottom: 3px;
      }
    }
  }

  @include phone {
    background-color: $colour-white;
    opacity: 0;
    width: 100vw;
    z-index: 500;
    ul {
      margin: 130px 20px;
      list-style: none;
      li {
        font-size: $size-large-font;
        margin-bottom: 3px;
      }
    }
  }
}

.nav-menu.open {
  opacity: 1 !important;
  transition: opacity 0.5s ease;
}

.nav-menu > footer {
  margin: 40px;

  @include phone {
    margin: 20px;
  }
  display: flex;
  flex-direction: column;
  line-height: 0.9rem;

  div.social-links-wrapper {
    display: flex;
    a {
      margin: 0px;
      svg {
        fill: $colour-light-text;
      }

      img {
        width: 20px;
        margin-right: 8px;
      }
    }
    margin-bottom: 10px;
  }

  a {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  small {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }
}
