@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.hire-me {
  background-color: #fff16f;
  & > div.section-content {
    height: 65vh;
    margin-top: 100px;
    padding-top: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      h1 {
        font-size: 2.5rem;
      }

      h3 {
        margin: 50px 0px 5px;
      }

      a {
        text-decoration: underline;
        font-size: larger;
      }
    }
  }
}
