@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.hire-me {
  @include tablet {
    height: 100vh;
  }

  @include iphonex {
    height: 100vh;
  }

  @include phone {
    height: 100vh;
  }

  background-color: $colour-yellow;
  & > div.section-content {
    @include desktop {
      height: 65vh;
      margin-top: 100px;
      padding-top: 200px;
    }

    @include tablet {
      height: 65vh;
      margin-top: 100px;
      padding-top: 200px;
    }

    @include iphonex {
      height: 50vh;
      margin-top: 200px;
      padding-top: 50px;
    }

    @include phone {
      height: 50vh;
      margin-top: 200px;
      padding-top: 120px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      margin-top: 70px;
      h1 {
        @include desktop {
          font-size: $size-larger-font;
        }

        @include tablet {
          font-size: $size-larger-font;
        }

        @include phone {
          font-size: $size-large-font;
        }
      }

      h3 {
        margin: 50px 0px 5px;
      }

      a {
        text-decoration: underline;
        font-size: larger;
      }
    }
  }
}
