@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.hire-me {
  transition: background-color 0.2s linear;

  & > div.section-content {
    display: flex;
    flex-direction: column;
    height: 100vh;

    & > div.content-wrapper {
      @include desktop {
        height: 95vh;
      }

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & .content-top {
        margin-top: 25vh;
        h1 {
          @include desktop {
            font-size: $size-larger-font;
          }
          @include tablet {
            font-size: $size-larger-font;
          }
          @include phone {
            font-size: $size-large-font;
          }
        }
      }

      h3 {
        margin: 50px 0px 5px;
      }

      a {
        text-decoration: underline;
        font-size: larger;
      }
    }
  }
}

section.hire-me.colored {
  background-color: $colour-white;
}
