//BREAKPOINTS
$breakpoint-phone: 767px !default;
$breakpoint-tablet: 991px !default;
$breakpoint-desktop: 992px !default;

@mixin phone {
  @media (max-width: #{$breakpoint-phone}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
