//COLOURS
$colour-primary-text: #2b2b2b;
$colour-light-text: #a4a4a4;
$colour-yellow: #fff16f;
$colour-white: #fff;

// SIZES
$size-sidenav-with-desktop: 270px;
$size-larger-font: 3rem;
$size-large-font: 1.8rem;
