//COLOURS
$colour-primary-text: #2b2b2b;
$colour-light-text: lighten($colour-primary-text, 35);
$colour-yellow: #fff16f;
$colour-white: #fff;

// SIZES
$size-sidenav-with-desktop: 270px;
$size-larger-font: 3rem;
$size-large-font: 1.9rem;
$size-medium-font: 1.2rem;

$size-contentwith-desktop: 65vw;
