@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100vw;
  @include desktop {
    width: $size-contentwith-desktop;
  }

  background-color: $colour-white;

  @include desktop {
    padding: 15px 40px;
  }
  @include tablet {
    padding: 15px 40px;
  }
  @include phone {
    padding: 10px 20px 7px;
  }
  .brand {
    display: flex;
    img {
      width: 100px;
    }
    .brand-title {
      @include phone {
        display: none;
      }
      margin-left: 80px;
      text-decoration: underline;
    }
  }

  .header-menu {
    display: none;
    @include tablet {
      display: block;
      font-size: 1.1rem;
      position: fixed;
      right: 0;
      margin-right: 40px;

      @include phone {
        margin-right: 20px;
      }
    }
  }
}

header.transparent {
  background-color: transparent;
}
