@import "../styles/variables.scss";
@import "../styles/mixins.scss";

* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: -0.01em;
  color: $colour-primary-text;
}

a {
  text-decoration: none;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 4px solid gainsboro;
  }

  main section {
    @include desktop {
      height: 100vh;
    }
  }
}
