@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.about-me {
  & > div.section-content {
    @include desktop {
      padding: 50px 0px 50px;
    }

    @include tablet {
      margin-top: 50px;
    }

    h1 {
      @include desktop {
        font-size: $size-larger-font;
        margin-bottom: 50px;
      }
      @include tablet {
        font-size: $size-larger-font;
        margin-bottom: 50px;
      }
      @include phone {
        font-size: $size-large-font;
        margin-bottom: 50px;
      }
    }
    p {
      margin-bottom: 30px;
      @include desktop {
        max-width: 55vw;
        margin-bottom: 30px;
      }

      @include tablet {
        margin-bottom: 30px;
      }
      @include phone {
        margin-bottom: 40px;
      }
    }
    a {
      letter-spacing: 0.3px;
      text-decoration: underline;
    }
  }
}
