@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

section.my-toolbelt {
  & > div.section-content {
    @include tablet {
      margin-top: 200px;
    }

    h1 {
      margin-bottom: 60px;
      @include desktop {
        font-size: $size-larger-font;
      }
      @include tablet {
        font-size: $size-larger-font;
      }

      @include phone {
        font-size: $size-large-font;
      }
    }
    .tools-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 900px;
      .tech-icon {
        margin-right: 70px;
        margin-bottom: 50px;
        &:last-child {
          margin-right: 0px;
        }
      }

      @include phone {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .tech-icon {
          margin-right: 30px;
          margin-bottom: 30px;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
